@use "./modules/variable";

//Mobile first
@use "./Breakpoints/base";

*{
    font-family: 'Open Sans', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}

@media (min-width: 1280px){
@import "./Breakpoints/1200pxup";
}
